body{
	background:#A2D5DF;
}

.wrapper{
	width:960px; margin:0 auto;
}
form{
	font-family: 'Oswald', 'sans-serif';
	font-weight:400;
	font-size:16px;
	color:#206876;
	overflow:hidden;
	position: relative;
	height:185px;
	width: 960px;
}

label{
	color:#206876;
	margin-top:20px;
	display:block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea,
button {
	height:24px;
	border-radius:5px;
	padding:20px;
	margin: 5px 1px 3px 0px;
	width:915px;
	border:2px solid #62AAB8;
	color:#206876;
	background:#A0CCD5;
	outline: none;
	font-family: 'Oswald', 'sans-serif';
	font-weight:400;
	font-size:16px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
}

input[type="text"]:focus ,
input[type="email"]:focus ,
input[type="tel"]:focus ,
input[type="password"]:focus ,
textarea:focus {
	padding:20px;
	margin: 5px 1px 3px 0px;
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 2px solid #015666;
}

button{
	cursor: pointer;
	width: auto;
	margin: 0;
	padding:10px 20px;
	height: auto;
}

button:hover{
	color:#A2D5DF;
	background:#206876;
}

input[type="text"]:focus.error,
input[type="email"]:focus.error,
input[type="tel"]:focus.error,
input[type="password"]:focus.error,
textarea:focus.error {
	border:2px solid #D51616;
}

::-webkit-input-placeholder {
	color: #206876;
}
:-moz-placeholder { /* Firefox 18- */
	color: #206876;
}
::-moz-placeholder {  /* Firefox 19+ */
	color: #206876;
}
:-ms-input-placeholder {
	color: #206876;
}
.progress{
	position:absolute;
	height:10px;
	background:#A0CCD5;
	width:100%;
	top:125px;
}

.progressBar{
	position:absolute;
	top:0;
	left:0;
	height:10px;
	width:0;
	background:#62AAB8;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
}
.step {
	position:absolute;
	margin:0;
	top:135px;
	right:0;
}

.btn{
	display:none;
}

.btnNext {
	position: absolute;
	left: 895px;
	width: 60px;
	height: 60px;
	background: #62AAB8;
	border-radius: 5px;
	cursor:pointer;
	opacity:0;
	top:0;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
}

.btnNext.active{top: 53px; opacity:1;}
.arrow {width: 40px;height: 40px;position: relative;display: inline-block;margin: 10px 10px;}
.arrow:before, 
.arrow:after {content: '';border-color: transparent;border-style: solid;position: absolute;}
.arrow-right:before {border: none;background-color: #555555;height: 30%;width: 50%;top: 35%;left: 0;}
.arrow-right:after {left: 50%;top: 0;border-width: 20px 20px;border-left-color: #555555;}