body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

body {
	background: #232323;
	font-family: 'Open Sans', sans-serif;
}

img {
	display: block;
	width: 147px;
	margin: 5% auto 0 auto;
	position: relative;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
}

a {
	text-decoration: underline;
	color: inherit;
}

h1 {
	color: #FFFFFF;
	font-weight: normal;
	font-size: 36px;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	top: 275px;
	width: 100%;
	margin: auto;
}

p {
	color: #FFFFFF;
	width: 100%;
	text-align: center;
	margin: auto;
	position: relative;
	top: 31%;
}

.social {
	display: block;
	width: 35px;
	height: 35px;
	position: absolute;
	bottom: 30px;
	left: 50%;
}

#mail {
	background: url(socials.png) 0 0;
	margin: 0 -105px;
}

#mail:hover {
	background: url(socials.png) 0 35px;
}

#twitter {
	background: url(socials.png) -35px 0;
	margin: 0 -45px;
}

#twitter:hover {
	background: url(socials.png) -35px 35px;
}

#github {
	background: url(socials.png) -70px 0;
	margin: 0 7.5px;
}

#github:hover {
	background: url(socials.png) -70px 35px;
}

#linkedin {
	background: url(socials.png) -105px 0;
	margin: 0 60px;
}

#linkedin:hover {
	background: url(socials.png) -105px 35px;
}